<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tasomaniac.devwidget.settings">

    <application>

        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="com.tasomaniac.devwidget.main.MainActivity" />

    </application>
</manifest>
