<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tasomaniac.devwidget">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DevWidgetApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevWidget"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".configure.ConfigureActivity"
            android:label="@string/widget_configure"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".configure.WidgetPinnedReceiver" />

        <service
            android:name=".widget.WidgetViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".widget.click.ClickHandlingActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:noHistory="true"
            android:relinquishTaskIdentity="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DevWidget.Translucent" />

        <activity
            android:name=".widget.click.WidgetRefreshActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:noHistory="true"
            android:relinquishTaskIdentity="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DevWidget.Translucent" />

        <activity
            android:name=".widget.click.HeaderOptionsActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:noHistory="true"
            android:relinquishTaskIdentity="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DevWidget.Translucent" />

        <activity
            android:name=".data.updater.StopWidgetRefreshActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:noHistory="true"
            android:relinquishTaskIdentity="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DevWidget.Translucent" />

        <activity
            android:name=".widget.chooser.ActivityChooserActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:relinquishTaskIdentity="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DevWidget.BottomSheet" />

        <service android:name=".data.updater.WidgetRefreshService" />
        <service
            android:name=".data.updater.WidgetRefreshRescheduleJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".data.updater.PackageAddedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".data.updater.PackageRemovedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

    </application>

</manifest>
