<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tasomaniac.devwidget">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DevWidgetApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevWidget"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

    </application>

</manifest>
